.container{
    max-width: 90%;
    margin: auto;
}
nav ul li {
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
}
.header{
    display: flex;
    flex-direction: column;
    gap: 15px;  
}
.top-bar{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.header-right{
    flex-grow: 2;
    display: flex;
    align-items: center;
}
.search-bar input{
    width: 400px;
    border-radius: 10px;
    line-height: 20px;
    border: none;
    background-color: #78788029;
    padding-left :30px;
}
.search-input{
    position: relative;
}
.input-left{
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
}
.input-right{
    position: absolute;
    top:50%;
    right: 10px;
    transform: translateY(-50%);
}       
.search-bar{
    display: flex;
    justify-content: space-between;
}
.nav-icons ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-icons ul{
    display: flex;
    gap: 20px;
}
.main-nav ul li {
    display: flex;
    flex-direction: row;}
.main-nav ul{
    display: flex;
    gap: 20px;
}
.content{
    display: flex;
    gap: 35px;
}
.content img{
     justify-content: center;

    }
img{
    top: 400px;
    width: 454px;
    height: 454px;
}
.footer{
    display: flex;
}
.footer3 nav ul li{
    display: flex;
    flex-direction: row;
}
.footer3 nav ul {
    display: flex;
    gap: 50px;
}
